DB_HOST=themoviedb.cpyo2w4s8544.ap-southeast-1.rds.amazonaws.com
DB_NAME=themoviedb
DB_USER=vietphap
DB_PASS=vietphapA963
EMAIL_USER=vietphap090603@gmail.com
EMAIL_PASSWORD=ljhggfrxbgcpqwlk
DJANGO_SECRET_KEY=changeme
DJANGO_ALLOWED_HOSTS=127.0.0.1