@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Jolly+Lodger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bluedark: #465499;
    --greylight: #f3f3f3;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--greylight);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    background-color: var(--bluedark);
    color: white;
    text-align: left;
    padding: 20px 20% 20px;
}

.logo-themovie{
    display: flex;
    max-width: 80%;
    font-family: Jolly Lodger; 
    color:#465499; 
    font-weight: 400; 
    text-decoration: none;
}

header p {
    font-size: 16px;
    margin: 10px 0 20px;
}

header .buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

header button {
    flex: 1;
    font-size: 14px;
    margin: 0;
    padding: 10px 20px;
    color: var(--bluedark);
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header button:hover {
    background-color: #ddd;
}

/* Main content styling */
.container-welcome {
    display: flex;
    padding: 20px 20px;
    justify-content: center;
}

.container-signup {
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.container-login {
    width: 100%;
    max-width: 400px;
    margin: 40px auto;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.image-welcome {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
.image-welcome img{
    width: 100%;
    height: 100%;
}

footer {
    background-color: #424242; 
    color: #e0e0e0; 
    padding: 20px;
    margin-top: auto;
    width: 100%;
}

.form-profile {
    margin: 30px auto;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    color: #777;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group input[type="date"]{
    width: 250px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.form-group select {
    width: 270px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.sex select {
    width: 250px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.form-group.split {
    width: 48%;
}

.submit-btn {
    background-color: #3b5998;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.submit-btn:hover {
    background-color: #333f70;
}

.login-link {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.login-link a {
    color: var(--bluedark);
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
.movie-row-item {
    white-space: normal;
    margin: 0 4px 0 0;
    display: inline-block;
    vertical-align: baseline;
}
.movie-card-md1 {
    float: left;
    margin: 0 0 3px;
    position: relative;
    width: 154px;
    height: 280px;
    overflow-x: visible;
    font-size: 14px;
    border-radius: 5px;
    overflow: hidden;
}
.movie-card-md1 .card {
    height: 100%;
    width: 100%;
}
.movie-card-md1 img {
    border-radius: 5px;
}
.movie-card-md1 .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
    z-index: 2;
    max-height: 40%;
    padding-left: 7%;
    padding-bottom: 5%;
}
.movie-card-md1 .overlay .movie-link{
    color: rgb(91, 90, 90);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none;
}
.movie-card-md1 .overlay label{
    color: rgb(91, 90, 90);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.poster-movie{
    display: flex;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    max-width: 480px;
    height: auto;
}

.poster-movie img{
    width: 100%;
    height: auto;
}

/* đánh giá phim*/
.rate{

	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;

}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left
}
.rating>input {
    display: none
}
.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}
.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}
.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}
.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}
.buttons{
	top: 36px;
    position: relative;
}
.rating-submit{
	border-radius: 15px;
	color: #fff;
	    height: 49px;
}
.rating-submit:hover{
	
	color: #fff;
}


.container-comment {
    width: 100vw;
    padding: 50px;
    
    padding-right: 80px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.container-comment h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
    text-align: left;
}

.comment-box form {
    padding-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.comment-box .split textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
    box-sizing: border-box;
    background-color: #ffffff;
}

.comment {
    background-color: #ffffff; /* Nền trắng cho mỗi bình luận */
    padding: 15px;
    padding-left: 30px;
    margin-bottom: 15px; /* Khoảng cách giữa các bình luận */
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); /* Bóng đổ nhẹ cho mỗi bình luận */
    text-align: left; /* Căn lề trái cho mỗi bình luận */
}

.comment-box button[type="submit"] {
    margin-top: 15px;
    padding: 7px 10px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    background-color: #465499;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-box button[type="submit"]:hover {
    background-color: #3b487d;
}


/* Định dạng container chứa bình luận */
.container-comments {
    width: 100vw;
    max-height: 1000px;
    padding-left: 50px;
    padding-right: 80px;
    background-color: #ffffff;
    text-align: left; 
    overflow-y: auto; 
}
.comments-tieude {
    width: 100vw;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 20px;
    margin-top: 10px 0;
    background-color: #ffffff;
    text-align: left; 
}
.comments-tieude h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.comment {
    background-color: #ffffff;
    padding: 10px;
    padding-left: 30px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    text-align: left; 
}

.comment p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 5px 0;
    text-align: left;
}

.comment p strong {
    font-weight: bold;
    color: #465499;
}

/* Định dạng từng bình luận trả lời (reply) */
.reply-comment {
    background-color: #ffffff;
    margin-left: 80px; 
    padding: 10px;
    padding-right: 30px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    text-align: right;
}

.reply-comment p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 5px 0;
    text-align: right;
}

.reply-comment p strong {
    font-weight: bold;
    color: #465499;
}

.container-comments p {
    font-size: 18px;
    color: #888;
    margin-top: 20px;
}

.container-reply-comments {
    width: 100vw;
    padding-bottom: 20px;
    background-color: #ffffff;
    text-align: left; 
    overflow-y: auto;
}

.container-reply-comment h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
    text-align: left;
}

.reply {
    text-align: right;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.reply button {
    background-color: #888;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    padding: 5px 10px; 
}

.reply button:hover {
    background-color: #354a7c;
}












.menu-icon {
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    margin-left: 10px;
}

.comment-options {
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    z-index: 1;
}

.comment-options button {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    padding: 5px 10px;
    width: 100%;
    text-align: left;
}

.comment-options button:hover {
    background-color: #f0f0f0;
}

.comment-header {
    display: flex;
    align-items: center; /* Căn giữa các phần tử theo chiều dọc */
    justify-content: space-between; /* Đặt khoảng cách đều nhau giữa tên/ngày và biểu tượng menu */
}

.comment-header p {
    margin: 0; /* Loại bỏ khoảng cách mặc định của thẻ p */
    font-family: 'Raleway', sans-serif;
    color: #333;
    font-size: 16px;
}

.menu-icon {
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
}
