@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Jolly+Lodger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bluedark: #465499;
    --greylight: #f3f3f3;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--greylight);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    background-color: var(--bluedark);
    color: white;
    text-align: left;
    padding: 20px 20% 20px;
}

.logo-themovie{
    display: flex;
    max-width: 80%;
    font-family: Jolly Lodger; 
    color:#465499; 
    font-weight: 400; 
    text-decoration: none;
}

header p {
    font-size: 16px;
    margin: 10px 0 20px;
}

header .buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

header button {
    flex: 1;
    font-size: 14px;
    margin: 0;
    padding: 10px 20px;
    color: var(--bluedark);
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header button:hover {
    background-color: #ddd;
}

/* Main content styling */
.container-welcome {
    display: flex;
    padding: 20px 20px;
    justify-content: center;
}

.container-signup {
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.container-login {
    width: 100%;
    max-width: 400px;
    margin: 40px auto;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.image-welcome {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
.image-welcome img{
    width: 100%;
    height: 100%;
}

footer {
    background-color: #424242; 
    color: #e0e0e0; 
    padding: 20px;
    margin-top: auto;
    width: 100%;
}

.form-profile {
    margin: 30px auto;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    color: #777;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group input[type="date"]{
    width: 250px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.form-group select {
    width: 250px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.sex select {
    width: 250px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.form-group.split {
    width: 48%;
}

.submit-btn {
    background-color: #3b5998;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.submit-btn:hover {
    background-color: #333f70;
}

.login-link {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.login-link a {
    color: var(--bluedark);
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
.movie-row-item {
    white-space: normal;
    margin: 0 4px 0 0;
    display: inline-block;
    vertical-align: baseline;
    display: flex;
}
.movie-card-md1 {
    float: left;
    margin: 0 0 3px;
    position: relative;
    width: 175px;
    height: 275px;
    overflow-x: visible;
    font-size: 14px;
    border-radius: 5px;
    overflow: hidden;
}
.movie-card-md1 .card {
    height: 100%;
    width: 100%;
}

.movie-card-md1 .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.movie-card-md1 img {
    border-radius: 5px;
}
.movie-card-md1 .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
    z-index: 2;
    max-height: 40%;
    padding-left: 7%;
    padding-bottom: 5%;
}
.movie-card-md1 .overlay .movie-link{
    color: rgb(91, 90, 90);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none;
}
.movie-card-md1 .overlay label{
    color: rgb(91, 90, 90);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.poster-movie{
    display: flex;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    max-width: 480px;
    height: auto;
}

.poster-movie img{
    width: 100%;
    height: auto;
}

/* đánh giá phim*/
.rate{

	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;

}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left
}
.rating>input {
    display: none
}
.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}
.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}
.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}
.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}
.buttons{
	top: 36px;
    position: relative;
}
.rating-submit{
	border-radius: 15px;
	color: #fff;
	    height: 49px;
}
.rating-submit:hover{
	
	color: #fff;
}




.container-comment {
    width: 100vw;
    padding: 50px;
    
    padding-right: 80px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.container-comment h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
    text-align: left;
}

.comment-box form {
    padding-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.comment-box .split textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
    box-sizing: border-box;
    background-color: #ffffff;
}

.comment {
    background-color: #ffffff;
    padding: 15px;
    padding-left: 30px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); 
    text-align: left;
}

.comment-box button[type="submit"] {
    margin-top: 15px;
    padding: 7px 10px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    background-color: #465499;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-box button[type="submit"]:hover {
    background-color: #3b487d;
}


/* Định dạng container chứa bình luận */
.container-comments {
    width: 100vw;
    max-height: 1000px;
    padding-left: 50px;
    padding-right: 80px;
    background-color: #ffffff;
    text-align: left; 
    overflow-x: hidden;
    overflow-y: auto; 
}

.detail-movie-tieude {
    width: 100vw;
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 20px;
    background-color: #ffffff;
    text-align: left; 
}

.detail-movie-tieude h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.movie-details {
    display: flex;
    gap: 20px; /* Space between the columns */
}

.movie-description {
    flex: 7; /* 7 parts */
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 30px;
    height: 100%;
    text-align: justify;
}

.movie-info {
    flex: 5;
    font-size: 14px;
}

.movie-info p {
    margin-bottom: 10px;
}

.movie-info strong {
    color: #333;
}


.comments-tieude {
    width: 100vw;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 20px;
    margin-top: 10px 0;
    background-color: #ffffff;
    text-align: left; 
}
.comments-tieude h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.comment {
    background-color: #ffffff;
    padding: 10px;
    padding-left: 30px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.comment p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 5px 0;
    text-align: left;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.comment p strong {
    font-weight: bold;
    color: #465499;
}

/* Định dạng từng bình luận trả lời (reply) */
.reply-comment {
    background-color: #ffffff;
    margin-left: 80px; 
    padding: 10px;
    padding-right: 30px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    text-align: right;
}

.reply-comment p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 5px 0;
    text-align: right;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.reply-comment p strong {
    font-weight: bold;
    color: #465499;
}

.container-comments p {
    font-size: 18px;
    color: #888;
    margin-top: 20px;
}

.container-reply-comments {
    width: 100vw;
    padding-bottom: 20px;
    background-color: #ffffff;
    text-align: left; 
    overflow-y: auto;
}

.container-reply-comment h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
    text-align: left;
}


.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-right: 20px;
}

.menu-icon {
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
    display: none;
}

.comment-options {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
    display: none;
}

.comment-options button, .comment-options form button {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    padding: 5px 10px;
    width: 100%;
    text-align: left;
}

.comment-options button:hover, .comment-options form button:hover {
    background-color: #f0f0f0;
}

.reply-comment-header {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    justify-content: space-between;
}

.reply-menu-icon {
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
    position: relative;
    flex-shrink: 0;
    display: block;
}

.reply-menu-icon.hidden {
    display: none;
}

.reply-user-info {
    margin: 0;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: #333;
    text-align: right;
    flex-basis: 0;
    flex-grow: 1;
}


.comment:hover .menu-icon,
.reply-comment:hover .menu-icon {
    display: inline;
}

.reply-comment-options {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
    display: none;
}

.reply-comment-options button, .reply-comment-options form button {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    padding: 5px 10px;
    width: 100%;
    text-align: left;
}

.reply-comment-options button:hover, .reply-comment-options form button:hover {
    background-color: #f0f0f0;
}

.login-signup-container {
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-signup-link {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333f70;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.login-signup-link:hover {
    background-color: #f0f0f0;
    color: #333f70;
    text-decoration: none;
}

.login-signup-link:focus, .login-signup-link:hover {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.no-movies-found {
    font-size: 18px;
    font-weight: bold;
    color: #ff6347;
    text-align: center;
    padding: 20px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 8px;
    margin-top: 30px;
}


.genre-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    padding: 0;
    margin: 0;
    list-style: none;
}


.genre-grid li {
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    padding: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
    align-items: center;
    justify-content: center;
}


.genre-grid li:hover {
    transform: translateY(-5px);
    background-color: #e9ecef;
    cursor: pointer;
}


.genre-grid li a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #007bff;
}

.genre-grid li a:hover {
    text-decoration: underline;
    color: #0056b3;
}


.autocomplete-suggestions {
    position: absolute;
    background-color: white;
    width: auto;
    min-width: 350px;
    max-width: 600px;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1000;
    display: none;
    box-sizing: border-box;
}

.autocomplete-suggestion {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-suggestion:hover {
    background-color: #f0f0f0;
}

.table-active{
    width: 100%;
}
.movie-table-row{
    width: 100%;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}
.movie-table-row:hover{
    background-color: white;
}
.movie-table-row .movie-table-cell-rating{
    width: 200px;
}
.movie-table-cell-name{
    width: 500px;
    max-width: 600px;
}
.movie-table-cell-name a{
    text-decoration: none;
    color: black;
}
.movie-table-cell-name a:hover{
    color: var(--bluedark);
}


#messages {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.toast {
    display: inline-block;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    opacity: 0.95; 
    margin-bottom: 15px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.toast:hover {
    transform: scale(1.03);
}

.toast-success {
    background-color: #b4dcbd !important;
    color: #155724 !important;
}

.toast-error {
    background-color: #e8707a !important;
    color: #ffffff !important;
}

.toast-warning {
    background-color: #eed890 !important;
    color: #856404 !important;
}

.toast-info {
    background-color: #91e3f2 !important;
    color: #0c5460 !important;
}
.btn-close {
    color: #000;
    opacity: 0.6;
}

.btn-close:hover {
    opacity: 1;
}


.movie-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
    padding-right: 100px;
}


.pagination {
    display: flex;
    justify-content: left;
    margin-left: 10px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.page-item.active .page-link {
    background-color: #6c757d;
    color: #fff;
    border-color: #6c757d;
}

.page-item .page-link {
    border: 1px solid #dee2e6;
    border-radius: 4px;
    margin: 0 5px;
    padding: 0.5rem 0.75rem;
    transition: all 0.3s;
}

.page-item .page-link:hover {
    background-color: #f8f9fa;
    color: #6c757d;
}

.page-item.disabled .page-link {
    color: #d6d8db;
    pointer-events: none;
    background-color: transparent;
}
.container-forgetpassword {
    width: 100%;
    max-width: 400px;
    margin: 40px auto;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.container-chatbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-box {
    display: none;
    width: 400px;
    height: 80%;
    background-color:#fff;
    overflow: hidden;
    border-radius: 10px;
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 1099;
}
.recommender {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 10%;
    background-color:#465499;
}
.recommender-info {
    color: #fff;
    padding: 10%;
    margin-top: 8px;
}
.recommender-info h2 {
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    font-family: Jolly Lodger;
    font-size: 30px;
}

.chats {
    width: 100%;
    height: 75%;
    padding: 0 15px;
    color: #fff;
    position: relative;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
}    

.recommender-chat{
    width: auto;
    max-width: 80%;
    word-wrap: break-word;
    background-color: #4f5d73c7;
    padding: 7px 10px;
    border-radius: 10px 10px 10px 0;
    margin: 5px 0;
    display: inline-block;
    align-items: flex-start; 
}
.my-chat {
    width: auto;
    max-width: 80%;
    word-wrap: break-word;
    background-color: #465499;
    padding: 7px 10px;
    border-radius: 10px 10px 0 10px;
    margin: 5px 5px 5px auto;
    display: inline-block;
}    
.chat-input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 14%;
    background-color:#fff;
    padding: 15px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}
.chat-input .message-input {
    width: calc(100% - 60px);
    height: 100%;
    background-color: #4f5d7321;
    border-radius: 20px;
    color: #000;
    font-size: 15px;
    font-weight: 100;
    padding: 0 15px;
    border: 0;
}   
.chat-input .message-input:focus {
    outline: 0;
    border: 0;
    box-shadow: none;
  } 
.send-btn {
    width: 40px;
    height: 30px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border: 0;
}
.send-btn:active {
    transform: scale(0.85);
}
.send-btn img {
    width: 100%;
    height: 100%;
}    
.chat-btn {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color:#fff;
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    z-index: 1100;
    bottom: 20px;
    right: 20px;
}

.chat-btn img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    padding: 5px;
    transition: 0.4s ease-in-out;
}
.chat-btn img:hover{
    transform: rotate(30deg);
}
.sort-select {
    width: auto;
    min-width: 150px;
    display: inline-block;
}
