<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Actor&family=Jolly+Lodger&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/owlcarousel/assets/owl.theme.default.min.css">
    <style>
        .dropdown-custom .dropdown-item:hover {
            color: #465499;
        }

        .btn-spn-input {
            border-bottom: white;
        }
    </style>
</head>

<body>
    <header>
        <div>
            <a href="home.html" class="logo-themovie" style="color: white; font-size: 64px;">
                <span>TheMovie</span>
            </a>
        </div>
    </header>
    <section class="mybody">
        <div class="row">
            <label class="pt-3 ps-4" style="font-size: 14px; color: #465499; font-weight: 600;">Number of rated movie: <label id="countLabel">0</label></label>
        </div>
        <div class="row" style="display: flex;">
            <div class="large-12 columns" style="padding: 2%;">
                <div class="owl-carousel owl-theme">
                    <div class="item" style="justify-content: center; display: flex;">
                        <div class="movie-row-item">
                            <div class="movie-card-md1">
                                <div class="card">
                                    <a href="movie.html">
                                        <img src="https://image.tmdb.org/t/p/w500/iiZZdoQBEYBv6id8su7ImL0oCbD.jpg">
                                    </a>
                                </div>
                                <div class="overlay">
                                    <div class="row-gap-1">
                                        <a href="home.html" class="movie-link">Spider-Man: Into the Spider-Verse</a>
                                    </div>
                                    <div class="row-gap-1">
                                        <div class='btn-spn btn-spn-sm input-group'>
                                            <span class='input-group-btn'>
                                                <button class='btn btn-spn-down' type='button'><i
                                                        class="fa fa-minus"></i></button>
                                            </span>
                                            <input value='0' min='0' max='5'
                                                class='btn-spn-input form-control text-center' style="border: none;">
                                            <span class='input-group-btn'>
                                                <button class='btn btn-spn-up' type='button'><i
                                                        class="fa fa-plus"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="justify-content: center; display: flex;">
                        <div class="movie-row-item">
                            <div class="movie-card-md1">
                                <div class="card">
                                    <a href="movie.html">
                                        <img src="https://image.tmdb.org/t/p/w500/iiZZdoQBEYBv6id8su7ImL0oCbD.jpg">
                                    </a>
                                </div>
                                <div class="overlay">
                                    <div class="row-gap-1">
                                        <a href="home.html" class="movie-link">Spider-Man: Into the Spider-Verse</a>
                                    </div>
                                    <div class="row-gap-1">
                                        <div class='btn-spn btn-spn-sm input-group'>
                                            <span class='input-group-btn'>
                                                <button class='btn btn-spn-down' type='button'><i
                                                        class="fa fa-minus"></i></button>
                                            </span>
                                            <input value='0' min='0' max='5'
                                                class='btn-spn-input form-control text-center' style="border: none;">
                                            <span class='input-group-btn'>
                                                <button class='btn btn-spn-up' type='button'><i
                                                        class="fa fa-plus"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="justify-content: center; display: flex;">
                        <div class="movie-row-item">
                            <div class="movie-card-md1">
                                <div class="card">
                                    <a href="movie.html">
                                        <img src="https://image.tmdb.org/t/p/w500/iiZZdoQBEYBv6id8su7ImL0oCbD.jpg">
                                    </a>
                                </div>
                                <div class="overlay">
                                    <div class="row-gap-1">
                                        <a href="home.html" class="movie-link">Spider-Man: Into the Spider-Verse</a>
                                    </div>
                                    <div class="row-gap-1">
                                        <div class='btn-spn btn-spn-sm input-group'>
                                            <span class='input-group-btn'>
                                                <button class='btn btn-spn-down' type='button'><i
                                                        class="fa fa-minus"></i></button>
                                            </span>
                                            <input value='0' min='0' max='5'
                                                class='btn-spn-input form-control text-center' style="border: none;">
                                            <span class='input-group-btn'>
                                                <button class='btn btn-spn-up' type='button'><i
                                                        class="fa fa-plus"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="justify-content: center; display: flex;">
                        <div class="movie-row-item">
                            <div class="movie-card-md1">
                                <div class="card">
                                    <a href="movie.html">
                                        <img src="https://image.tmdb.org/t/p/w500/iiZZdoQBEYBv6id8su7ImL0oCbD.jpg">
                                    </a>
                                </div>
                                <div class="overlay">
                                    <div class="row-gap-1">
                                        <a href="home.html" class="movie-link">Spider-Man: Into the Spider-Verse</a>
                                    </div>
                                    <div class="row-gap-1">
                                        <div class='btn-spn btn-spn-sm input-group'>
                                            <span class='input-group-btn'>
                                                <button class='btn btn-spn-down' type='button'><i
                                                        class="fa fa-minus"></i></button>
                                            </span>
                                            <input value='0' min='0' max='5'
                                                class='btn-spn-input form-control text-center' style="border: none;">
                                            <span class='input-group-btn'>
                                                <button class='btn btn-spn-up' type='button'><i
                                                        class="fa fa-plus"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="justify-content: center; display: flex;">
                        <div class="movie-row-item">
                            <div class="movie-card-md1">
                                <div class="card">
                                    <a href="movie.html">
                                        <img src="https://image.tmdb.org/t/p/w500/iiZZdoQBEYBv6id8su7ImL0oCbD.jpg">
                                    </a>
                                </div>
                                <div class="overlay">
                                    <div class="row-gap-1">
                                        <a href="home.html" class="movie-link">Spider-Man: Into the Spider-Verse</a>
                                    </div>
                                    <div class="row-gap-1">
                                        <div class='btn-spn btn-spn-sm input-group'>
                                            <span class='input-group-btn'>
                                                <button class='btn btn-spn-down' type='button'><i
                                                        class="fa fa-minus"></i></button>
                                            </span>
                                            <input value='0' min='0' max='5'
                                                class='btn-spn-input form-control text-center' style="border: none;">
                                            <span class='input-group-btn'>
                                                <button class='btn btn-spn-up' type='button'><i
                                                        class="fa fa-plus"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="justify-content: center; display: flex;">
                        <div class="movie-row-item">
                            <div class="movie-card-md1">
                                <div class="card">
                                    <a href="movie.html">
                                        <img src="https://image.tmdb.org/t/p/w500/iiZZdoQBEYBv6id8su7ImL0oCbD.jpg">
                                    </a>
                                </div>
                                <div class="overlay">
                                    <div class="row-gap-1">
                                        <a href="home.html" class="movie-link">Spider-Man: Into the Spider-Verse</a>
                                    </div>
                                    <div class="row-gap-1">
                                        <div class='btn-spn btn-spn-sm input-group'>
                                            <span class='input-group-btn'>
                                                <button class='btn btn-spn-down' type='button'><i
                                                        class="fa fa-minus"></i></button>
                                            </span>
                                            <input value='0' min='0' max='5'
                                                class='btn-spn-input form-control text-center' style="border: none;">
                                            <span class='input-group-btn'>
                                                <button class='btn btn-spn-up' type='button'><i
                                                        class="fa fa-plus"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="justify-content: center; display: flex;">
                        <div class="movie-row-item">
                            <div class="movie-card-md1">
                                <div class="card">
                                    <a href="movie.html">
                                        <img src="https://image.tmdb.org/t/p/w500/iiZZdoQBEYBv6id8su7ImL0oCbD.jpg">
                                    </a>
                                </div>
                                <div class="overlay">
                                    <div class="row-gap-1">
                                        <a href="home.html" class="movie-link">Spider-Man: Into the Spider-Verse</a>
                                    </div>
                                    <div class="row-gap-1">
                                        <div class='btn-spn btn-spn-sm input-group'>
                                            <span class='input-group-btn'>
                                                <button class='btn btn-spn-down' type='button'><i
                                                        class="fa fa-minus"></i></button>
                                            </span>
                                            <input value='0' min='0' max='5'
                                                class='btn-spn-input form-control text-center' style="border: none;">
                                            <span class='input-group-btn'>
                                                <button class='btn btn-spn-up' type='button'><i
                                                        class="fa fa-plus"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="justify-content: center; display: flex;">
                        <div class="movie-row-item">
                            <div class="movie-card-md1">
                                <div class="card">
                                    <a href="movie.html">
                                        <img src="https://image.tmdb.org/t/p/w500/iiZZdoQBEYBv6id8su7ImL0oCbD.jpg">
                                    </a>
                                </div>
                                <div class="overlay">
                                    <div class="row-gap-1">
                                        <a href="home.html" class="movie-link">Spider-Man: Into the Spider-Verse</a>
                                    </div>
                                    <div class="row-gap-1">
                                        <div class='btn-spn btn-spn-sm input-group'>
                                            <span class='input-group-btn'>
                                                <button class='btn btn-spn-down' type='button'><i
                                                        class="fa fa-minus"></i></button>
                                            </span>
                                            <input value='0' min='0' max='5'
                                                class='btn-spn-input form-control text-center' style="border: none;">
                                            <span class='input-group-btn'>
                                                <button class='btn btn-spn-up' type='button'><i
                                                        class="fa fa-plus"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="justify-content: center; display: flex;">
                        <div class="movie-row-item">
                            <div class="movie-card-md1">
                                <div class="card">
                                    <a href="movie.html">
                                        <img src="https://image.tmdb.org/t/p/w500/iiZZdoQBEYBv6id8su7ImL0oCbD.jpg">
                                    </a>
                                </div>
                                <div class="overlay">
                                    <div class="row-gap-1">
                                        <a href="home.html" class="movie-link">Spider-Man: Into the Spider-Verse</a>
                                    </div>
                                    <div class="row-gap-1">
                                        <div class='btn-spn btn-spn-sm input-group'>
                                            <span class='input-group-btn'>
                                                <button class='btn btn-spn-down' type='button'><i
                                                        class="fa fa-minus"></i></button>
                                            </span>
                                            <input value='0' min='0' max='5'
                                                class='btn-spn-input form-control text-center' style="border: none;">
                                            <span class='input-group-btn'>
                                                <button class='btn btn-spn-up' type='button'><i
                                                        class="fa fa-plus"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="justify-content: center; display: flex;">
                        <div class="movie-row-item">
                            <div class="movie-card-md1">
                                <div class="card">
                                    <a href="movie.html">
                                        <img src="https://image.tmdb.org/t/p/w500/iiZZdoQBEYBv6id8su7ImL0oCbD.jpg">
                                    </a>
                                </div>
                                <div class="overlay">
                                    <div class="row-gap-1">
                                        <a href="home.html" class="movie-link">Spider-Man: Into the Spider-Verse</a>
                                    </div>
                                    <div class="row-gap-1">
                                        <div class='btn-spn btn-spn-sm input-group'>
                                            <span class='input-group-btn'>
                                                <button class='btn btn-spn-down' type='button'><i
                                                        class="fa fa-minus"></i></button>
                                            </span>
                                            <input value='0' min='0' max='5'
                                                class='btn-spn-input form-control text-center' style="border: none;">
                                            <span class='input-group-btn'>
                                                <button class='btn btn-spn-up' type='button'><i
                                                        class="fa fa-plus"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <h4>11</h4>
                    </div>
                    <div class="item">
                        <h4>12</h4>
                    </div>
                </div>
            </div>
        </div>
        <a class="me-4 mb-4" href="home.html" style="float: right;"><button type="button" class="btn" style="background-color: #465499; color: white;">Success</button></a>
    </section>
    <footer>
        <div style="text-align: center;">
            <p>Website concept inspired by <a href="https://movielens.org"
                    style="color: #6c757d; text-decoration: none;">MovieLens</a></p>
            <p>Copyright © 2024</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="assets/vendors/jquery.min.js"></script>
    <script src="assets/owlcarousel/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: false,
                margin: 10,
                nav: false,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 2,
                    },
                    600: {
                        items: 4,
                    },
                    1000: {
                        items: 8,
                        nav: false,
                        margin: 20
                    }
                }
            })
        })
    </script>

    <script>
        "use strict"

        addEventListenerAll('.btn-spn-up', 'click', event => this.spinUp(event))
        addEventListenerAll('.btn-spn-down', 'click', event => this.spinDown(event))

        function spinUp(event) {
            var spinRoot = event.currentTarget.parentElement.parentElement  // .btn-spn
            var spinInput = spinRoot.children[1]
            if (!spinInput.value || spinInput.value === "" || isNaN(parseInt(spinInput.value)))
                spinInput.value = 0
            var spinValue = parseInt(spinInput.value)

            var max = spinInput.getAttribute('max')
            if (!max || spinValue < max)
                spinInput.value = spinValue + 1
            else if (max && spinValue > max)
                spinInput.value = max
        }

        function spinDown(event) {
            var spinRoot = event.currentTarget.parentElement.parentElement  // .btn-spn
            var spinInput = spinRoot.children[1]
            if (!spinInput.value || spinInput.value === "" || isNaN(parseInt(spinInput.value)))
                spinInput.value = 0
            var spinValue = parseInt(spinInput.value)

            var min = spinInput.getAttribute('min')
            if (!min || spinValue > min)
                spinInput.value = spinValue - 1
            else if (min && spinValue < min)
                spinInput.value = min
        }

        function addEventListenerAll(selector, eventName, eventHandler) {
            var elements = document.querySelectorAll(selector)
            for (var i = 0; i < elements.length; i++) {
                elements[i].addEventListener(eventName, eventHandler)
            }
        }
    </script>
    <script>
        // Lấy tất cả các thẻ input và nút
        const inputs = document.querySelectorAll('.btn-spn-input');
        const increaseButtons = document.querySelectorAll('.btn-spn-up');
        const decreaseButtons = document.querySelectorAll('.btn-spn-down');

        function countInputsGreaterThanZero() {
            let count = 0;
            inputs.forEach(input => {
                if (parseInt(input.value) > 0) {
                    count++;
                }
            });
            $("#countLabel").text(count);
        }

        increaseButtons.forEach(button => {
            button.addEventListener('click', () => {
                countInputsGreaterThanZero(); // Gọi hàm đếm
            });
        });

        decreaseButtons.forEach(button => {
            button.addEventListener('click', () => {
                countInputsGreaterThanZero(); // Gọi hàm đếm
            });
        });
    </script>
</body>

</html>