{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Movie</title>
        <!-- bootstrap core css -->
        <link rel="stylesheet" type="text/css" href="{% static '/static/css/bootstrap.css' %}" />
        <!-- Custom styles for this template -->
        <link href="{% static '/static/css/style.css' %}" rel="stylesheet"/>
    </head>
<body>
    <header>
        <div>
            <a href="{% url 'movie:welcome' %}" class="logo-themovie" style="color: white; font-size: 64px;">
                <span>TheMovie</span>
            </a>
        </div>
    </header>

    <div class="container-signup">
        <h2 style="color: #555; margin-bottom: 20px;">Register</h2>
        <form action="{% url 'user:sign_up' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <div class="split">
                    <label for="email">Email</label>
                    {{ form.email }}
                    {% for error in form.email.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="split">
                    <label for="dob">Date of Birth</label>
                    {{ form.dateOfBirth }}
                    {% for error in form.dateOfBirth.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
        
            <div class="form-group">
                <div class="split">
                    <label for="password">Password</label>
                    {{ form.password }}
                    {% for error in form.password.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="split">
                    <label for="city">Current City</label>
                    {{ form.currentCity }}
                    {% for error in form.currentCity.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
        
            <div class="form-group">
                <div class="split">
                    <label for="password_confirm">Confirm Password</label>
                    {{ form.password_confirm }}
                    {% for error in form.password_confirm.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="split">
                    <label for="occupation">Occupation</label>
                    {{ form.occupation }}
                    {% for error in form.occupation.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
        
            <div class="form-group">
                <div class="split">
                    <label for="name">Name</label>
                    {{ form.name }}
                    {% for error in form.name.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="split">
                    <label for="sex">Sex</label>
                    {{ form.sex }}
                    {% for error in form.sex.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
        
            <button type="submit" class="submit-btn">Sign up</button>
            <div class="login-link">
                Already a user? <a href="{% url 'user:log_in' %}">Log in here</a>
            </div>
        </form>
    </div>

    {% include 'includes/footer.html' %}
</body>
</html>
